
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import '~bootstrap/dist/css/bootstrap.min.css';

:root {
    --color-gris:#231F20;
    --color-griscl: #292929;
    --color-amarillo: #FFD800;
    --color-rojocl: #E23D2E;
    --color-rojo: #D62420;
    --color-blanco: #FFFFFF;

    --font-titulo: "Staatliches", sans-serif;
    --font-subtitulo: "IMB Plex Mono", monospace;
    --font-parra: "Fira Sans", sans-serif;
    --font-subtrojo: "IBM Plex Mono", monospace;

} 

/* h1 */

h1.titulo1{
    font-family: var(--font-titulo);
    font-size: 9rem;
    color: var(--color-amarillo);
}
h1.protitulo{
    font-family: var(--font-titulo);
    font-size: 9rem;
    color: var(--color-rojo);
}

/*h2 */

h2.titulo2{
    font-family: var(--font-titulo);
    font-size: 3rem;
}
h2.ueatitulo{
    font-family: var(--font-titulo);
    font-size: 3rem;
    color: var(--color-rojo);
}
h2.amatitulo{
    font-family: var(--font-titulo);
    font-size: 3rem;
    color: var(--color-amarillo);
}

/*h3*/

h3.subtosc{
    font-family: var(--font-subtitulo);
    font: size 1.3rem;
    color: var(--color-blanco);
}
h3.subtrojo{
    font-family: var(--font-subtitulo);
    font: size 1.3rem;
    color: var(--color-rojo);
}

/*p*/

p.parraosc{
    font-family: var(--font-parra);
    font-size: 1.3rem;
    color:var(--color-blanco);
}
p.parra{
    font-family: var(--font-parra);
    font-size: 1.3rem;
}
p.subt{
    font-family: var(--font-subtitulo);
    font-size: 1.3rem;
    color: var(--color-amarillo);
}
a.subti{
    font-family: var(--font-subtitulo);
    font-size: 1rem;
    color: #FFFFFF;
}
/* lampara */

.imglamprow{
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}
.imglampcolum{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


/* frutos de vida */
.centro{
    display: flex;
    justify-content: center;
}

/* justificacion*/
.container{
    display: flex;
    justify-content: flex-end;
}

/*
body{
    font-family: "Fira Sans", sans-serif !important;
    font-size: 1.3rem;
}
h1.titulo{
    font-family: "Staatliches", sans-serif;
    font-size: 9rem !important;
    color: #FFD800;
}
h2.titulo2{
    font-family: "Staatliches", sans-serif;
    font-size: 3rem !important;
}
h3.subt{
    font-family: "IBM Plex Mono", monospace;
    font-size: 20px !important;
}
p.oscuro{
    font-family: "Fira Sans", sans-serif !important;
    font-size: 1.3rem;
    color: #FFFFFF;

}
*/ 
   .maqueta{max-width: 300px;}
    

